/* > blue : #B6E0D8
 * > pink : #EED0B5
 */

#menu, #responsive-menu {
    display: none;
}

@media (max-width: 1045px) {
    aside, nav {
        display: none;
    }
    
    .logo {
        position: absolute;
        left: 0;
        width: 24px;
        height: 29px;
        background-image: url(../images/logo-mobile.png);
    }
    
    #menu {
        display: block;
        font-size: .9em;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        transition: .3s;
        cursor: pointer;
    }
    
    #menu:hover {
        color: #0c7883;
    }
    
    #responsive-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        opacity: 0;
        transition: .4s;
    }
    
    #responsive-menu ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    #responsive-menu ul li {
        display: block;
        font-size: 1.5em;
        font-family: 'IM Fell French Canon', serif;
    }
    
    #responsive-menu ul li a {
        font-weight: 500;
    }
    
    #responsive-menu div {
        display: flex;
        width: 100%;
    }
    
    [class*="resp-side-"] {
        display: flex;
        justify-content: center;
        line-height: 80px;
        height: 80px;
    }
    
    [class*="resp-side-"] p {
        text-align: center;
        text-transform: uppercase;
        color: #000;
        font-size: .9em;
    }
    
    .resp-side-left {
        background-color: #b6e0d8;
    }
    
    .resp-side-right {
        background-color: #eed0b5;
    }
    
    section .logo {
        position: static;
    }
    
    footer {
        background-color: transparent;
        filter: invert(100%);
    }
}