/* #0C7883 */

/* ==================================================
    BASE
   ================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IM Fell French Canon', serif;
}

h2 {
    font-size: 4em;
    font-weight: 500;
    text-transform: capitalize;
}

p {
    font-weight: 600;
    letter-spacing: 2px;
}

/* > taille des blocs et leur emplacement */

.flexbox {
    display: flex;
}

#content {
    width: 100%;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

header {
    justify-content: space-between;
    position: fixed;
}

footer {
    position: fixed;
    bottom: 0;
    justify-content: center;
}

section {
    height: 100vh;
    background-color: #888;
}

aside {
    width: 80px;
    min-width: 80px;
}

/* > couleurs */
header, footer, aside {
    background-color: #fff;
    z-index: 8;
}

/* > couleurs textes de base */
h1, h2, p {
    color: #fff;
}

/* > buttons - separator */
.btn-large, .btn-square {
    padding: 20px 40px;
    background-color: transparent;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 2px;
    color: #fff;
    transition: .2s;
}

.btn-square {
    margin-right: 100px;
    padding: 0;
    width: 135px;
    height: 135px;
    text-align: center;
    line-height: 135px;
}

.btn-large:hover, .btn-square:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.btn-large:focus, .btn-square:focus {
    outline: 0;
}

.separator {
    width: 100px;
    height: 2px;
    background-color: #fff;
}

/* ==================================================
    HEADER
   ================================================== */

.logo {
    width: 110px;
    height: 20px;
    background-size: cover;
    background-image: url(../images/logo-header.png);
}

header {
    text-align: center;
}

header .logo {
    position: relative;
    left: 20px;
}

/* ==================================================
    NAVIGATION
   ================================================== */

.flex-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-square {
    position: relative;
    width: 80px;
    min-width: 80px;
    height: 80px;
    background-color: #fff;
    z-index: 3;
}

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: .85em;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: .3s;
}

nav ul li a:hover {
    color: #0C7883;
}

.nav-left ul li {
    margin-right: 64px;
}
.nav-left ul li:last-child {
    margin-right: 0;
}

.nav-right ul li {
    margin-left: 64px;
}
.nav-right ul li:first-child {
    margin-left: 0;
}

/* --- menu supplémentaires --- */
.flex-nav {
    position: relative;
    height: 80px;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}

.menu-plus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #B6E0D8;
    transition: .3s;
    z-index: 0;
}

.menu-plus ul li {
    display: inline;
    margin: 0 20px;
}

.menu-plus ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: .8em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
}

.menu-plus ul li a:hover {
    color: #0C7883;
}

/* ==================================================
    ASIDES
   ================================================== */

aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside p {
    position: fixed;
    display: table;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9em;
    letter-spacing: 2px;
    text-indent: 1em;
    white-space: nowrap;
    color: #000;
    z-index: 10;
}

.side-left p {
    transform: rotate(-90deg);
    
}

.side-right p {
    transform: rotate(90deg);
   
}

/* ==================================================
    BLOCS CONTENT
   ================================================== */

section div {
    background-size: cover;
}

#first-bloc {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/landing-video-first-frame.jpg);
}

#first-bloc * {
    margin: 20px 0;
}

#first-bloc .logo {
    width: 270px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 0;
    background-image: url(../images/logo-white.png);    
}

[class*="bloc-"] {
    height: 100vh;
}

[class*="bloc-"] p {
    max-width: 50%;
    line-height: 30px;
}

[class*="bloc-"] .flexbox {
    height: 100%;
    padding: 115px;
    align-items: center;
}

[class*="bloc-"] .flexbox div:first-child * {
    margin: 25px 0;
}

.shadow {
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.bloc-1{background-image:url(../images/Home-ComeAsYouAre-min.jpg);}.bloc-2 {background-image:url(../images/Home-NewHereV1-min.jpg);}.bloc-3 {background-image:url(../images/Home-RootedInChristV1-min.jpg);}.bloc-4 {background-image:url(../images/Home-CommitedToServiceV1-min.jpg);}.bloc-5{background-image:url(../images/Home-EventsV1-min.jpg);}

/* ==================================================
    PANNAUX LATERAUX
   ================================================== */

[class*="lateral-"] {
    width: 50%;
    height: 100vh;
    z-index: 9;
    opacity: .5;
    background-color: #B6E0D8;
}

.lateral-left {
    position: absolute;
    top: 0;
    left: -50%;
    transition: .4s;
}

aside p:hover .lateral-left {
    left: 0;
}

.lateral-right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: orangered;
}

/* ==================================================
    FOOTER
   ================================================== */

footer img {
    width: 21px;
    height: 9px;
}

#ancre:hover {
    opacity: .5;
    transition: .3s;
    cursor: pointer;
}