/* ==================================================
    BASE
   ================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IM Fell French Canon', serif;
}

/* > taille des blocs et leur emplacement */

.flexbox {
    display: flex;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

footer {
    position: fixed;
    bottom: 0;
    justify-content: center;
}

section {
    height: 100vh;
    background-color: #888;
}

aside {
    width: 80px;
    min-width: 80px;
}

/* > couleurs des blocs */
header, footer, aside {
    background-color: #fff;
}

/* ==================================================
    HEADER
   ================================================== */

.logo {
    width: 110px;
    height: 20px;
    background-size: cover;
    background-image: url(../images/logo-header.png);
}

/* ==================================================
    NAVIGATION
   ================================================== */

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: .85em;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav-left ul li {
    margin-right: 64px;
}


.nav-right ul li {
    margin-left: 64px;
}

/* ==================================================
    ASIDES
   ================================================== */

aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside p {
    display: table;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9em;
    letter-spacing: 2px;
    text-indent: 1em;
    white-space: nowrap;
    
}

.side-left p {
    transform: rotate(-90deg) translate( 35%,0);
    
}

.side-right p {
    transform: rotate(90deg) translate( -35%,0);
   
}

/* ==================================================
    FOOTER
   ================================================== */

footer img {
    width: 21px;
    height: 9px;
}